<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example that shows off a blog page with a list of posts.">

    <title>Blog &ndash; ${setting.title} &ndash; Pure</title>


    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/pure.css">


    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">

    <!--[if lte IE 8]>
    <link rel="stylesheet" href="@{'/public/stylesheets/pure/main-grid-old-ie.css'}">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="@{'/public/stylesheets/pure/main-grid.css'}">
    <!--<![endif]-->

    <!--[if lte IE 8]>
    <link rel="stylesheet" href="@{'/public/stylesheets/pure/layouts/blog-old-ie.css'}">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="@{'/public/stylesheets/pure/layouts/blog.css'}">
    <!--<![endif]-->


    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bootstrap/bootstrap.min.css'}">

    <script src="@{'/public/javascripts/jquery-1.6.4.min.js'}"></script>
    <!-- script src="@{'/public/javascripts/jquery.tools-1.2.7.expose.min.js'}"></script -->
    <script src="http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js"></script>
    <script src="@{'/public/javascripts/bootstrap.min.js'}"></script>


</head>
<body>

<div id="layout" class="pure-g">
    <div class="sidebar pure-u-1 pure-u-med-1-4">
        <div class="header">
            <hgroup>
                <h1 class="brand-title"><a href="@{Application.index()}">${setting.brand}</a></h1>
                <h2 class="brand-tagline">${setting.tagline}</h2>
            </hgroup>

            <nav class="nav">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a class="pure-button" href="http://twitter.com/javathought">@javathought</a>
                    </li>
                    <li class="nav-item">
                        <a class="pure-button" href="http://plus.google.com/pascal.abaziou">google+</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="content pure-u-1 pure-u-med-3-4">
        <div>

            #{doLayout /}

        </div>
        <div class="footer">
            <div class="pure-menu pure-menu-horizontal pure-menu-open">
                <ul>
                    <li><a href="http://purecss.io/">About</a></li>
                    <li><a href="http://twitter.com/yuilibrary/">Twitter</a></li>
                    <li><a href="http://github.com/yui/pure/">GitHub</a></li>
                </ul>
            </div>
        </div>

    </div>

</div>

<script src="http://yui.yahooapis.com/3.14.1/build/yui/yui.js"></script>
<script>
    YUI().use('node-base', 'node-event-delegate', function (Y) {
        // This just makes sure that the href="#" attached to the <a> elements
        // don't scroll you back up the page.
        Y.one('body').delegate('click', function (e) {
            e.preventDefault();
        }, 'a[href="#"]');
    });
</script>





</body>
</html>